<nav class="hidden md:flex space-x-10">
  {% for link in main_menu_linklist %}
    {% assign link_handle = link.handle | replace: '-', '_' %}
    {% if link.links != blank %}
      <div class="relative" x-data="{ {{ link_handle }}: false }">
        <button
          class="inline-flex items-center text-base text-gray-500 cursor-pointer hover:text-gray-900"
          x-on:click="{{ link_handle }} = !{{ link_handle }}"
        >
          {{ link.title }}
          <span class="ml-1">{% render 'icon-dropdown' %}</span>
        </button>
        <div
          class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
          x-show="{{ link_handle }}"
          @click.away="{{ link_handle }} = false"
        >
          <div class="shadow-lg border border-gray-100 overflow-hidden rounded-lg">
            <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
              {% for child_link in link.links %}
                <a href="{{ child_link.url }}" class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
                  <span class="text-gray-900 text-base font-medium">{{ child_link.title }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="relative">
        <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-900">{{ link.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</nav>
