{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="relative bg-white" x-data="{ mobileMenuOpen: false }">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>

      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <button
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none"
          x-on:click="mobileMenuOpen = true"
        >
          {% render 'icon-menu' %}
        </button>
      </div>

      {% render 'header-desktop-nav', main_menu_linklist: main_menu_linklist %}

      <!-- USER ACTIONS -->

      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">Account</a>
            <a href="{{ routes.account_logout_url }}" class="text-base text-gray-500 hover:text-gray-900">Logout</a>
          {% else %}
            <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
            <a href="{{ routes.account_register_url }}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  {% render 'header-mobile-nav', main_menu_linklist: main_menu_linklist %}
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Menu",
      "info": "This is the title of the mobile menu modal"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header menu",
      "default": "main-menu",
      "info": "This menu will be used on desktop and mobile."
    }
  ]
}
{% endschema %}
