<article class="py-8">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            <a
              href="{{ blog.url }}"
              class="text-base text-gray-500 font-bold uppercase hover:text-gray-900"
            >
              {{ blog.title }}
            </a>
            <h1 class="text-4xl font-medium md:text-6xl">
              {{ article.title }}
            </h1>
          </div>
        </div>
      {% when 'article_author' %}
        {% if section.settings.enable_author %}
          <div class="flex items-center justify-center">
            <div class="max-w-7xl text-center">
              <small>{{ article.author }}</small>
            </div>
          </div>
        {% endif %}
      {% when 'article_published_date' %}
        {% if section.settings.enable_published_date %}
          <div class="flex items-center justify-center">
            <div class="max-w-7xl text-center">
              <time datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}">
                {{ article.published_at | date: format: 'on_date' }}
              </time>
            </div>
          </div>
        {% endif %}
      {% when 'article_featured_image' %}
        <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 my-4 md:mx-auto overflow-hidden">
          {% if article.image != blank %}
            <img
              class="w-full h-80 md:h-96 object-cover object-center"
              src="{{ article.image | img_url: 'large' }}"
              alt="{{ article.image.alt | escape }}"
            >
          {% else %}
            {% assign placeholder_image = 'lifestyle-1' %}
            {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
          {% endif %}
        </div>
      {% when 'article_content' %}
        <div>{{ article.content }}</div>
    {% endcase %}
  {% endfor %}
</article>

{% schema %}
{
  "name": "Template Article",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Display Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "label": "Display Published Date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "article_featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
